* {
  padding: 0;
  margin: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;

  --basic-font-color: black;
  --subtext-font-color: white;
}

.container {
  display: grid;
  width: 100vw;
  height: 100vh;
  grid-template: 20vh 80vh / 1fr 4fr;
}

header {
  grid-area: 1 / 2 / span 1 / span 2;
  display: grid;
  grid-template: repeat(2, 1fr) / 2fr 1fr;
  background-color: #eeeeee;
  padding: 10px 50px 10px 50px;
  box-shadow: 
}

.header__searchbar-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.header__searchbar-icon {
  width: 20px;
  margin-right: 10px;
}

.header__searchbar {
  width: 90%;
  height: 15px;
  padding: 5px 15px 5px 15px;
  border: none;
  border-radius: 20px;
}

.header__searchbar:focus {
  outline: none;
  border: black 1px solid;
}

.header__notification-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 15% 0 15%;
}

.header__notification-icon {
  width: 20px;
}

.header__notification-picture {
  width: 40px;
  border-radius: 30px;
}

.header__greeting-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.header__greeting-picture {
  width: 70px;
  border-radius: 40px;
  margin-right: 20px;
}

.header__greeting-name {
  font-size: 18px;
  font-weight: 900;
  margin-top: 5px;
}

.header__button-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.button-primary {
  width: 100px;
  height: 35px;
  background-color: #0081c9;
  color: #ffff;
  border: none;
  border-radius: 30px;
}

aside {
  padding: 20px;
  grid-area: 1 / 1 / span 2 / span 1;
  height: 100vh;
  background-color: #0081c9;
  color: #ffff;
  display: grid;
  grid-template: 1fr 4fr 2fr 5fr / 1fr 6fr;
  row-gap: 50px;
  column-gap: 5px;
  font-weight: 900;
}

.header-icon__container {
  grid-area: 1 / 1 / span 1 / span 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.aside__header-icon {
  width: 40px;
}

.aside__header {
  font-size: 30px;
  grid-area: 1 / 2 / span 1 / span 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.aside__nav-icon {
  width: 20px;
  color: #ffff;
}

.aside__primary-nav {
  grid-area: 2 / 2 / span 1 / span 1;
  list-style-type: none;
  font-size: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.aside__primary-nav--icon {
  grid-area: 2 / 1 / span 1 / span 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.aside__secondary-nav {
  grid-area: 3 / 2 / span 1 / span 1;
  list-style-type: none;
  font-size: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.aside__secondary-nav--icon {
  grid-area: 3 / 1 / span 1 / span 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

main {
  grid-area: 2 / 2 / span 1 / span 1;
  display: grid;
  grid-template: 1fr 10fr / repeat(2, 6fr) 5fr;
  padding: 20px;
}

main > p {
  font-size: 20px;
  font-weight: 900;
  align-self: center;
}

.cards__header {
  grid-area: 1 / 1 / span 1 / span 2;
}

.cards__container {
  grid-area: 2 / 1 / span 1 / span 2;
  height: 100%;
  display: grid;
  grid-template: repeat(3, 1fr) / repeat(2, 1fr);
  gap: 20px;
  padding-right: 20px;
}

.cards {
  background-color: #eeeeee;
  padding: 20px 10px 20px 30px;
  border-left: #ffc93c 10px solid;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.cards__icon-container {
  align-self: flex-end;
}

.cards__icon {
  width: 20px;
}

.side__header {
  grid-area: 1 / 3 / span 1 / span 1;
}

.side__container {
  grid-area: 2 / 3 / span 1 / span 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.side__container-top {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  background-color: #eeeeee;
  padding: 20px;
  border-radius: 10px;
  gap: 20px;
}

.side__container-top--cell {
  height: 7vh;
  min-width: 0;
  border-bottom: black solid;
}

.side__container-top--cell:last-child {
  border: none;
}

.side__container-top--cell p {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.side__container-bottom > p {
  font-size: 20px;
  font-weight: 900;
  align-self: center;
}

.side__container-bottom--layout {
  display: grid;
  grid-template-rows: repeat(4, 1fr);
  background-color: #eeeeee;
  padding: 20px;
  border-radius: 10px;
  gap: 30px;
  font-size: 12px;
}

.side__container-bottom--cell {
  display: flex;
}

.avatar {
  width: 30px;
  border-radius: 15px;
  margin-right: 10px;
}

.side__container--username {
  font-weight: 900;
}
